* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  height: 34px;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.toggleInput:checked + .toggleLabel {
  background-color: #2196f3;
}

.toggleLabel:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggleInput:checked + .toggleLabel:before {
  transform: translateX(26px);
}

/* Styles for the select element */
.keySizeContainer select {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

.keySizeContainer select:focus {
  outline: none;
  border-color: #007bff;
}

.keySizeContainer select option {
  padding: 10px;
  font-size: 14px;
}

.keySizeContainer select:hover {
  border-color: #0056b3;
}
